<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.DeptDao">
	<!-- 查询DEPT表中指定DEPT_ID的部门的信息及部门所有员工的信息（一对多） -->
	<select id="selectByDeptId" parameterType="Integer" resultMap="deptResultMap">
		select d.dept_id,d.dept_name,e.emp_id,e.emp_name,e.emp_salary from dept d
		join emp e on d.dept_id = e.dept_id
		where d.dept_id=#{deptId};
	</select>
	<!-- resultMap用于设置夺标连接的结果的映射关系 -->
	<!-- id属性的值是唯一的 -->
	<resultMap type="com.example.demo.entity.Dept" id="deptResultMap">
		<!-- 主键列 -->
		<!-- column属性用于设置列名，property属性用于设置列对应实体类中的属性名 -->
		<id column="dept_id" property="deptId"/>
		<!-- 非主键的列 -->
		<result column="dept_name" property="deptName"/>
		<!-- collection表示实体类中的集合属性 -->
		<!-- property属性设置集合属性的名字 -->
		<!-- ofType属性设置集合属性泛型的类型 -->
		<collection property="empList" ofType="com.example.demo.entity.Emp">
			<id property="empId" column="emp_id"/>
			<result property="empName" column="emp_name"/>
			<result property="empSalary" column="emp_salary"/>
			<result property="deptId" column="dept_id"/>
		</collection>
	</resultMap>

</mapper>